{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>
    <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <h1 class="mb-4 text-center">カテゴリ新規登録</h1>
                <hr class="mb-4">
                {% comment %} <form method="post" action="{% url 'restaurant_update' %}">
                    {% csrf_token %} {% endcomment %}
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="form-group row mb-3">
                        <label for="name" class="col-md-5 col-form-labeltext-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">カテゴリ名称</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.name }}
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="form-group d-flex justify-content-centermb-4">
                        <button type="submit" class="btn btn-primary text-white shadow-sm w-50">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}   