{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>
    <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <h1 class="mb-4 text-center">店舗情報新規登録</h1>
                <hr class="mb-4">
                {% comment %} <form method="post" action="{% url 'restaurant_update' %}">
                    {% csrf_token %} {% endcomment %}
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="form-group row mb-3">
                        <label for="name" class="col-md-5 col-form-labeltext-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">店舗名</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="description" class="col-md-5 col-form-labeltext-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">店舗説明</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="postal_code" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">郵便番号</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.postal_code }}
                            <span class="alertarea"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="address" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">住所</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="tel_number" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">電話番号</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                        <div class="col-md-7">

                            {{ form.tel_number }}
                            <span class="alertarea"></span>
                       
                        </div>
                    </div> 
                    <div class="form-group row mb-3">
                        <label for="price_max" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">価格上限</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.price_max }}
                            </div>
                    </div> 
                    <div class="form-group row mb-3">
                        <label for="price_min" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">価格下限</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.price_min }}
                            </div>
                    </div> 
                    <div class="form-group row mb-3">
                        <label for="close_day_of_week" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">定休日</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.close_day_of_week }}
                        </div>
                    </div> 
                    <div class="form-group row mb-3">
                        <label for="seats_number" class="col-md-5 col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">席数</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ form.seats_number }}
                            </div>
                    </div>
                    
                    <div class="form-group row mb-3">
                        <label for="category" class="col-md-5 col-form-label text-md-left fw-bold">
                            カテゴリ
                        </label>
                        <div class="col-md-7">
                            {{ form.category }}
                        </div>
                    </div> 
                    <hr class="my-4">
                    <div class="form-group row mb-3">
                        <label for="photo" class="col-md-5 col-form-label text-md-left fw-bold">
                            店舗写真
                        </label>
                        <div class="col-md-7">
                            {{ form.photo }}
                        </div>
                    </div> 
                    <hr class="my-4">
                    <div class="form-group d-flex justify-content-centermb-4">
                        <button type="submit" class="btn btn-primary text-white shadow-sm w-50">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        
          // -----------------------
          // 7文字以上の入力チェック
          // -----------------------
          var targets = document.getElementsByClassName('number15');
          for (var i=0 ; i<targets.length ; i++) {
            // ▼文字が入力されたタイミングでチェックする：
            targets[i].oninput = function () {
              var alertelement = this.parentNode.getElementsByClassName('alertarea');
              if( (this.value.trim().length < 10 ) || (this.value.trim().length > 15 ) || ( this.value.match( /[^\d]+/ ))  ) {
                // ▼空白を除いた入力文字数が2文字よりも少なければ
                if( alertelement[0] ) { alertelement[0].innerHTML = "数字10〜15桁で入力してください。"; }
                this.style.border = "2px solid red";
              }
              else {
                // ▼何も入力がないか、または指定文字しかないなら
                if( alertelement[0] ) { alertelement[0].innerHTML = ""; }
                this.style.border = "1px solid black";
              }
            }
          }
          // ----------
          // ▲ここまで
          // ----------
        
        });
    </script>   
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        
          // -----------------------
          // 7文字以上の入力チェック
          // -----------------------
          var targets = document.getElementsByClassName('number7');
          for (var i=0 ; i<targets.length ; i++) {
            // ▼文字が入力されたタイミングでチェックする：
            targets[i].oninput = function () {
              var alertelement = this.parentNode.getElementsByClassName('alertarea');
              if( (this.value.trim().length !=7 ) || ( this.value.match( /[^\d]+/ ))  ) {
                // ▼空白を除いた入力文字数が7文字以外、または数値以外の時
                if( alertelement[0] ) { alertelement[0].innerHTML = "数字7桁で入力してください。"; }
                this.style.border = "2px solid red";
              }
              else {
                // ▼何も入力がないか、または指定文字しかないなら
                if( alertelement[0] ) { alertelement[0].innerHTML = ""; }
                this.style.border = "1px solid black";
              }
            }
          }
          // ----------
          // ▲ここまで
          // ----------
        
        });
        </script>
         
   
</main>
{% endblock %}    