asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
django-debug-toolbar==4.4.6
defusedxml==0.7.1
Django==4.2.16
django-allauth==0.50.0
idna==3.8
# oauthli==3.2.2
pip==22.0.4
pillow==8.3.2
pycparser==2.22
PyJWT==2.9.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==56.0.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.7.0

# # asgiref==3.7.2
# # certifi==2023.5.7
# # charset-normalizer==3.1.0
# django==4.2
# # django==5.0.4
# django_allauth==0.45.0
# # filelock==3.12.1
# # fsspec==2023.6.0
gunicorn==20.1.0
# # huggingface-hub==0.15.1
# # idna==3.4
# # numpy==1.24.3
# # packaging==23.1
# pillow==8.3.2
# # PyYAML==6.0
# # regex==2023.6.3
# # requests==2.31.0
# # safetensors==0.3.1
# # sqlparse==0.4.4
# # tokenizers==0.13.3
# # # -f https://download.pytorch.org/whl/torch_stable.html
# # # torch==1.7.1+cpu
# # tqdm==4.65.0
# # transformers==4.30.1
# # typing_extensions==4.6.3
# # urllib3==2.0.3
