{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>
    <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-6 col-md-9">
                <h1 class="mb-4 text-center">パスワード更新</h1>
                <hr class="mb-4">
                <form action="" method="POST">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group row mb-3">
                        <label "{{ field.id_for_label }}" class="col-md-5 col-form-labeltext-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span class="me-1">{{ field.label_tag }}</span>
                            </div>
                        </label>
                        <div class="col-md-7">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
    
                    <hr class="my-4">
                    <div class="mb-4 text-center">
                    {% comment %} <div class="form-group d-flex justify-content-centermb-4"> {% endcomment %}
                        <button type="submit" class="btn btn-primary btn-block">送信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}