{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>

    <main>
        <div class="container pt-4 pb-5 nagoyameshi-container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-6 col-md-9">
                    <h2 class="mb-4 text-center">
                        <p>パスワード再設定を完了しました。</p>
                    </h2>
                    <div class="mb-4 text-center">
                        <a class="btn btn-primary btn-block" href="{% url 'account_login' %}">ログイン画面へ</a>
                    </div>
                
                </div>
            </div>
        </div>
    </main>
</main>
{% endblock %}