{% extends "layout/base.html" %}
{% load static %}
{% load custom_tag %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>
    <h1 class="mb-3 text-center">売り上げ管理</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">日付</th>
                <th scope="col">売り上げ[円]</th>
            </tr>
        </thead>
        <tbody>
            {% for monthly_sales in object_list %}
                <tr>
                    <td>{{ monthly_sales.date|date}}</td>
                    <td>{{ monthly_sales.sales|unit }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- ページネーション処理 -->
    {% if is_paginated %}
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination"> 
                    <!-- 前ページへのリンク -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number }}" rel="prev" aria-label="&laquo; 前">
                                &lsaquo;
                            </a>
                        </li>
                    {% endif %}
                    <!-- ページ数表示 -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{page_num }}
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!-- 次ページへのリンク -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.next_page_number }}" rel="next" aria-label="次 &raquo;">
                                &rsaquo;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</main>
{% endblock %}